<!-- FILEPATH: /c:/programming/snwm/LearnEnglishBot/src/main/resources/templates/admin.html -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Admin Page</title>
  </head>
  <body>
    <h1>Welcome to the Admin Page</h1>
    <p>Here you can manage your website.</p>
    <table>
      <thead>
        <tr>
          <th>Chat ID</th>
          <th>Username</th>
          <th>Correct Attempts</th>
          <th>Incorrect Attempts</th>
          <th>Last Attempt</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="user : ${users}">
          <td th:text="${user.getChatId()}"></td>
          <td th:text="${user.getUsername()}"></td>
          <td th:text="${userstats.get(user).getCorrectAttempts()}"></td>
          <td th:text="${userstats.get(user).getIncorrectAttempts()}"></td>
          <td th:text="${userstats.get(user).getLastAttempt()}"></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
